# See https://help.github.com/ignore-files/ for more about ignoring files.

!.gitignore

# dependencies
node_modules/

# testing
coverage/

# production
build/

# misc
apidoc/
package-lock.json
setting.json
.*
*.log

# python cache
__pycache__
