#header-background {
  background-color: #e61616;
  height:125px;
  margin-bottom: 50px;
}

#header {
  line-height:125px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 400%;
  font-family: Roboto Condensed, 'Helvetica', sans-serif;
}

.bankaccount-wrapper {
  
}

.bankaccount-table {
  min-height: 400px;
  max-height: 500px;
}

.bankaccount-chart {
  min-height: 400px;
  max-height: 500px;
}
.chart-empty-style {
  
  min-height: 400px;
  max-height: 400px;  
  padding: 150px 0;
  background: rgb(249, 249, 249);
  border: 16px solid grey;
  border-radius: 32px;
  height: 350px;

  text-align: center;

  color: grey;
  font-size: 250%;
  font-family: Roboto, 'Helvetica', sans-serif;
}

#bankaccount-content {
  margin-top: 25px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}

.divider-right-4px {
  border-right: 4px solid grey;
}

.divider-left-4px {
  border-left: 4px solid grey;
}